<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
      <ul *ngIf="villes" class="list-group">
          <li [ngClass]="ville == currentVille ? 'active': ''" class="list-group-item clickable list-group-item-action"  *ngFor="let ville of villes._embedded.villes"
          (click)="onGetCinemas(ville)">{{ville.name}}</li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Listes des Cinemas</div>
        <div class="card-body">
          <ul *ngIf="cinemas" class="nav nav-pills">
            <li *ngFor="let cinema of cinemas._embedded.cinemas" class="clickable">
              <a class="btn btn-outline-primary ms-sm-2" [ngClass]="cinema == currentCinema ? 'active': ''"
              (click)="onGetSalles(cinema)">{{cinema.name}}</a>
            </li>
          </ul>
          <div class="row" *ngIf="salles">
            <div *ngFor="let salle of salles._embedded.salles">
              <div class="col-lg-8">
                <div class="card mt-4">
                    <div class="card-header">{{salle.name}}</div>
                    <div class="card-body" *ngIf="salle.projections">
                      <div class="row">
                        <div class="col-md-6">
                          <img style="height: 220px; width: 150px" src="{{cinemaService.host+'/imageFilm/'+salle.projections._embedded.projections[0].film.id}}">
                        </div>
                        <div class="col-md-6">
                          <ul class="list-group">
                            <li class="list-group-item">Seance:</li>
                            <li [ngClass]="p == currentProjection ? 'active': ''" (click)="onGetTickersPlaces(p)" *ngFor="let p of salle.projections._embedded.projections" class="list-group-item list-group-item-action clickable">
                              {{p.seance.houreDebut}}   <strong>Prix: {{p.prix | number : '0.00'}} DH </strong>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div *ngIf="currentProjection" class="mt-4">
                        <div *ngIf="currentProjection.salle.name== salle.name">
                          <div class="row" *ngIf="currentProjection.tickets">
                            <!--change the code here bugs in the future-->
                            <a  (click)="onSelectTicket(t)" [ngClass]="t.reserve == true?'disabled':'active'" class="{{getTicketClass(t)}}"  style="width: 45px; height: 40px; font-size: 15px" *ngFor="let t of currentProjection.tickets._embedded.tickets">
                              {{t.place.numero}}
                            </a>
                          </div>
                          <div *ngIf="selectedTickets.length > 0">
                            <form #f="ngForm" (ngSubmit)="onPayTickets(f.value)">
                              <div class="form-group">
                                <label class="control-label">Nom Client: </label>
                                <input class="form-control" type="text" name="clientName" ngModel>
                              </div>

                              <div class="form-group">
                                <label class="control-label">Code Payment: </label>
                                <input class="form-control" type="text" name="codePayment" ngModel>
                              </div>
                              <button type="submit" class="btn btn-success mt-2">Submit</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
